body {
    background-color: #eee;
}

p {
    font-family: 'Trebuchet MS';
    font-style: oblique;
    font-size: 1.5em;
    font-weight: 500;
    color:#222fff;
    text-align: left;
    text-indent: 40px;
    line-height: 1.5;
    word-spacing: 10px;
    text-shadow: 5px 3px 2px rgba(0, 0, 0, 0.3);

}


