* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

img {
    display: block;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #F15025;
    border-bottom: solid;
    width: 100%;
    border-color: rgba(0, 22, 22, 0.4);
}

@media (max-width: 28.75em) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0 1rem;
    }
}

#nav-list {
    display: flex;
    margin-right: 2rem;
}

#nav-list a {
    display: block;
    font-size: 2.1rem;
    padding: 2rem;
    cursor: pointer;
}

#nav-list a:hover {
    background: #2C365E;
}

main {
    position: relative;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #2B193D;
    background-image: linear-gradient(62deg, #522f74 0%, #2b193d 100%);
}

#welcome-section>p {
    font-size: 3rem;
    font-style: italic;
    color: white;
}


/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #2C365E;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: #484d6d;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-image {
    height: calc(100% - 3.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 1rem 0.5rem;
}


/*  Contact section   */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #484d6d;
}

.contact-header>h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
}

#contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 1px 1px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
    border-bottom: solid 1px;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}